[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
apscheduler = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
python-dotenv = "*"
wtforms = {version = "*", extras = ["email"]}
flask-bcrypt = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.9"
